IF(OBJECT_ID('CONTRACT_INFORMATION_EBA') IS NOT NULL) BEGIN DROP TABLE CONTRACT_INFORMATION_EBA END
GO
CREATE TABLE CONTRACT_INFORMATION_EBA ([ORIGINAL_CONTRACT] [varchar](200) NULL,
	[CONTRACT] [varchar](50) NOT NULL,
	[PROJECT] [varchar](200) NULL,
	[CONTRACT_CURRENCY] [varchar](50) NOT NULL,
	[DOWNPAYMENT_CURRENCY] [varchar](50) NOT NULL,
	[CONTRACT_STATUS] [varchar](50) NOT NULL,
	[DATE_SOLD] [datetime] NOT NULL,
	[EXPIRATION_DATE] [datetime] NOT NULL,
	[DATE_CLOSED] [datetime] NULL,
	[IS_FINANCED] [bit] NOT NULL,
	[USER_COLLECTOR] [varchar](81) NULL,
	[BILLING_TYPE] [varchar](50) NULL,
	[SALE_TYPE] [varchar](50) NULL,
	[TOTAL_PRICE] [decimal](18, 2) NULL,
	[DOWNPAYMENT] [decimal](18, 2) NULL,
	[PICKUP] [decimal](18, 2) NULL,
	[EQUITY] [decimal](18, 2) NULL,
	[IS_FULLY_PAID] [bit] NULL,
	[CLOSING_COST] [decimal](19, 2) NULL,
	[AMOUNT_FINANCED] [decimal](18, 2) NULL,
	[ON_HOLD] [bit] NOT NULL,
	[DATE_HOLD] [datetime] NULL,
	[CONTRACT_REASON_HOLD] [varchar](50) NULL,
	[USER_HOLD] [varchar](81) NULL,
	[BMEMBERSHIP] [int],
	[CANCEL_DATE] [datetime] NOT NULL,
	[CANCEL_REASON] [varchar](250) NULL,
	[CANCEL_BY] [varchar](250) NULL,
	[OWNER_PREFERRED_LANGUAGE] [varchar](50) NULL,
	[PREVIOUS_CONTRACT] [varchar](50) NULL,
	[PROCESSING_DATE] [datetime] NULL,
	[RCI_WEEKS] [varchar](50) NULL,
	[RCI_POINTS] [varchar](50) NULL)
GO
INSERT INTO CONTRACT_INFORMATION_EBA VALUES('A-00001','A-00001','TEST SALES GALLERY','USD','USD','Inactive','Aug  4 2009 12:00AM','Dec 31 2033 12:00AM','Aug  4 2009 12:00AM','1','EBA Administrator ','STATEMENT (NOT AUT)','NEW SALE','12942.00','2719.00','0','0','0','1584.00','8639.00','1','Feb 11 2024  1:28PM','PENDING FEES','EBA Administrator ','320929','Jun 27 2024 12:00AM','Falta de pagos de acuerdo a contrato','EBA Administrator ','English','','Aug  4 2009 12:00AM','7671-69857','');
INSERT INTO CONTRACT_INFORMATION_EBA VALUES('A-00001','A-00001','TEST SALES GALLERY','USD','USD','Inactive','Aug  5 2008 12:00AM','Dec 31 2032 12:00AM','Aug  5 2008 12:00AM','1','EBA Administrator ','STATEMENT (NOT AUT)','NEW SALE','14755.00','1268.00','0','0','0','1184.00','12303.00','0','','','','326954','Nov 26 2008 12:00AM','NORMAL','EBA Administrator ','Español','','Aug  5 2008 12:00AM','','');
INSERT INTO CONTRACT_INFORMATION_EBA VALUES('A-00001','A-00001','TEST SALES GALLERY','USD','USD','Inactive','Aug  6 2008 12:00AM','Dec 31 2032 12:00AM','Aug  6 2008 12:00AM','1','EBA Administrator ','STATEMENT (NOT AUT)','NEW SALE','16355.00','1496.00','0','0','0','1259.00','13600.00','0','','','','345294','Jul 31 2012 12:00AM','NORMAL','EBA Administrator ','English','','Aug  6 2008 12:00AM','8573-00001','');
