IF(OBJECT_ID('CONTRACT_INFORMATION_INVENTORY_EBA') IS NOT NULL) BEGIN DROP TABLE CONTRACT_INFORMATION_INVENTORY_EBA END
GO
CREATE TABLE CONTRACT_INFORMATION_INVENTORY_EBA ([CROSS_REFERENCE] [varchar](50) NOT NULL,
	[INVENTORY] [varchar](100) NOT NULL,
	[INVENTORY_LEVEL] [varchar](100) NOT NULL,
	[INVENTORY_SEQUENCE] [int] NOT NULL,
	[PERIODICITY] [varchar](50) NOT NULL,
	[EFFECTIVE_DATE] [datetime] NOT NULL,
	[YEARS] [int] NOT NULL,
	[EXPIRATION_DATE] [datetime] NOT NULL,
	[PAYMENT_NUMBER] [int] NULL,
	[WEEKS_INVENTORY_REFERENCE] [int] NULL,
	[RESERVATION_REFERENCE] [int] NULL,
	[ALLOTMENT] [int] NOT NULL,
	[FOLIO_NUMBER] [varchar](100) NULL,
	[RESERVATION_SEASON] [varchar](100) NULL,
	[REFERENCED_PLAN] [varchar](500) NULL,
	[REFERENCE_LOAN] [int] NULL,
	[PROVISION] [int] NULL,
	[UNIT_TYPE] [varchar](150) NULL,
	[ALLOTMENT_TYPE] [varchar](50) NULL,
	[TOTAL_ALLOTMENT] [int] NULL,
	[ACTIVE] [int] NULL)
GO
INSERT INTO CONTRACT_INFORMATION_INVENTORY_EBA VALUES('A-00001','ELITE WEEK','ELITE WEEK','2','EVEN','Jan  1 2012 12:00AM','12','Dec 31 2035 12:00AM','','','','84','0073','SUPER PRIME','','','','MASTER SUITE','Allotment Total','84','1');
INSERT INTO CONTRACT_INFORMATION_INVENTORY_EBA VALUES('A-00002','ELITE WEEK','ELITE WEEK','2','EVEN','Jan  1 2012 12:00AM','12','Dec 31 2035 12:00AM','','','','84','1406','PRIME','','','','MASTER SUITE','Allotment Total','84','1');
INSERT INTO CONTRACT_INFORMATION_INVENTORY_EBA VALUES('A-00002','REGULAR WEEK','FIXED WEEK','1','EVERY','Jan  1 1993 12:00AM','25','Dec 31 2017 12:00AM','','','','7','','ORO','','','','SUPER VILLA','Allotment Anual','175','0');
