IF(OBJECT_ID('CONTRACT_INFORMATION_ADDITIONAL_EBA') IS NOT NULL) BEGIN DROP TABLE CONTRACT_INFORMATION_ADDITIONAL_EBA END
GO
CREATE TABLE CONTRACT_INFORMATION_ADDITIONAL_EBA ([CONTRACT] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](50) NOT NULL,
	[VALUE] [varchar](200) NULL)
GO
INSERT INTO CONTRACT_INFORMATION_ADDITIONAL_EBA VALUES('A-00001','SEASON','BRONCE');
INSERT INTO CONTRACT_INFORMATION_ADDITIONAL_EBA VALUES('A-00002','SEASON','ORO');
INSERT INTO CONTRACT_INFORMATION_ADDITIONAL_EBA VALUES('A-00002','Original Contract','A-00001');
