IF(OBJECT_ID('CUSTOMER_EBA') IS NOT NULL) BEGIN DROP TABLE CUSTOMER_EBA END
GO
CREATE TABLE CUSTOMER_EBA (CONTRACT VARCHAR(50), TITLE VARCHAR(50), FIRSTNAME VARCHAR(500), LASTNAME VARCHAR(500), OFICIAL_ID_1 VARCHAR(50), OFICIAL_ID_2 VARCHAR(50), IS_LEGAL BIT, IS_PRIMARY BIT, IS_ACTIVE BIT)
GO
INSERT INTO CUSTOMER_EBA VALUES ('A-00001','','JOHN','SMITH','','','0','0','0');
INSERT INTO CUSTOMER_EBA VALUES ('A-00002','','JOHN','SMITH','','','0','0','0');
INSERT INTO CUSTOMER_EBA VALUES ('A-00002','','JOHN','SMITH','','','1','1','0');
