IF(OBJECT_ID('LOANS_TRANSACTION_EBA') IS NOT NULL) BEGIN DROP TABLE LOANS_TRANSACTION_EBA END
GO
CREATE TABLE [dbo].[LOANS_TRANSACTION_EBA](	[IDLOAN] [int] NOT NULL,[DUE_DATE] [date] NULL,[TRX_ID] [bigint] NOT NULL,[TRX_DATE] [datetime] NOT NULL,
				[CONCEPT] [nvarchar](150) NOT NULL,	[PM_ID] [bigint] NOT NULL,[PAYMENT_AMOUNT] MONEY NOT NULL,[TOTALAPPLIED] MONEY NOT NULL,[TOPRINCIPAL] MONEY NOT NULL,
				[TOINTERES] MONEY NOT NULL, [TOOTHER] MONEY NOT NULL, [TODELINQUENT] MONEY NOT NULL, [TOPARTIAL] MONEY NOT NULL,[FOREIGN_CURRENCY] MONEY NOT NULL, 
				[FC] [varchar](50) NOT NULL,[REFERENCE] [varchar](500) NULL,[AUTHORIZATION_NUMBER] [varchar](150) NULL,[CREDIT_CARD] [varchar](10) NULL,[INSTRUMENT] [varchar](150) NOT NULL,
				[BANK] [varchar](150) NULL,[USR] [varchar](150) NULL,[AFFECTEDTRXID] [bigint] NULL,[COMMENT] [varchar](250) NULL,[EXCHANGE_RATE] MONEY, [REVERSE_DATE] [date] NULL)
GO
INSERT INTO LOANS_TRANSACTION_EBA VALUES ('280134', NULL,'11913135','Dec 11 2019 12:35PM','Principal Adjustment','7515926','0.05','0.05','0.05','0.00','0.00','0.00','0.00','0.05','USD','Ajuste Cartera','','','MASTER CARD','','Test Uer','0','Migracion','1.0000', NULL);
INSERT INTO LOANS_TRANSACTION_EBA VALUES ('285677', NULL,'11913175','Dec 11 2019 12:36PM','Principal Adjustment','7515966','0.05','0.05','0.05','0.00','0.00','0.00','0.00','0.05','USD','Ajuste Cartera','','','MASTER CARD','','Test Uer','0','Migracion','1.0000', NULL);
INSERT INTO LOANS_TRANSACTION_EBA VALUES ('283794', NULL,'11913198','Dec 11 2019 12:37PM','Principal Adjustment','7515989','0.06','0.06','0.06','0.00','0.00','0.00','0.00','0.06','USD','Ajuste Cartera','','','MASTER CARD','','Test Uer','0','Migracion','1.0000', NULL);
