IF(OBJECT_ID('LOANS_EBA') IS NOT NULL) BEGIN DROP TABLE LOANS_EBA END
GO

		CREATE TABLE [dbo].[LOANS_EBA](	[CONTRACT] [varchar](50) NOT NULL, [IDLOAN] [int], [CURRENCY] [varchar](50), [AMOUNTFINANCED] MONEY, [INTERESTRATE] MONEY NOT NULL, [TERMS] [int], 	[OTHERCHARGES] MONEY,
		[PAYMENTAMOUNT] MONEY, [LATE_CHARGE] [varchar](100) , [STATUS] [varchar](30) , [FUNDING] [varchar](30), [LENDER] [varchar](30) , [COLLECTOR] [varchar](150), [BILLING_TYPE] [varchar](50),
		[SERVICE_CENTER] [varchar](30),	[ACCOUNTING_COMPANY] [varchar](30), [DATEBOOKED] [datetime], [FIRSTPAYMENTDATE] [datetime], [MATURITYDATE] [datetime], 	[NEXT_DATE] [datetime],
		[ENTERED_DATE] [datetime],	[ENTERED_BY] [varchar](150), [HOLDDATE] [datetime], [HOLD_REASON] [varchar](50), [HOLD_BY] [varchar](150), [CLOSEDATE] [datetime],
		[CLOSE_BY] [varchar](150), [CLOSE_REASON] [varchar](50), [LAST_TRANSFER_DATE] [datetime] NULL, [LAST_TRX_DATE] [datetime] NULL, [PARTIAL] MONEY NULL, [PRINCIPAL] MONEY NULL, [INTEREST] MONEY NULL, [LATE_CHARGES] MONEY NULL, [OTHER_CHARGES] MONEY NULL, [CURRENT_BALANCE] MONEY NULL, DELINQUENT_AMOUNT MONEY NULL, [LAST_PAYMENT_DATE] DATETIME NULL) 
GO
INSERT INTO LOANS_EBA VALUES ('A-00001','279304','USD','13178.00','14.0000','60','5.00','306.63','20.0000 - 11 - Recursive Fix','Close','TEST CLUB','TEST CLUB','EBA Administrator','STATEMENT (NOT AUT)','TEST CLUB','TEST CLUB','Nov  9 2011 12:00AM','Jan  1 2012 12:00AM','Dec  1 2016 12:00AM','','Nov  9 2011 12:00AM','EBA Administrator','Nov  4 2019  4:44PM','','EBA Administrator',NULL,'','','Nov  9 2011 12:00AM','Jan  1 2012 12:00AM','0.00','0.00','0.00','0.00','0.00','13178.00','','');
INSERT INTO LOANS_EBA VALUES ('A-00002','279305','USD','9337.00','14.0000','60','5.00','217.26','20.0000 - 11 - Recursive Fix','Close','TEST CLUB','TEST CLUB','EBA Administrator','STATEMENT (NOT AUT)','TEST CLUB','TEST CLUB','Aug 22 2010 12:00AM','Oct 15 2010 12:00AM','Sep 15 2015 12:00AM','','Aug 22 2010 12:00AM','EBA Administrator','Nov  4 2019  4:44PM','','EBA Administrator',NULL,'','','Aug 22 2010 12:00AM','Oct 15 2010 12:00AM','0.00','0.00','0.00','0.00','0.00','9337.00','','');
INSERT INTO LOANS_EBA VALUES ('A-00003','279308','USD','9795.00','14.0000','60','5.00','227.91','20.0000 - 11 - Recursive Fix','Close','TEST CLUB','TEST CLUB','EBA Administrator','STATEMENT (NOT AUT)','TEST CLUB','TEST CLUB','Jan 20 2010 12:00AM','Mar  1 2010 12:00AM','Feb  1 2015 12:00AM','','Jan 20 2010 12:00AM','EBA Administrator','Nov  4 2019  4:44PM','','EBA Administrator',NULL,'','','Jan 20 2010 12:00AM','Mar  1 2010 12:00AM','0.00','0.00','0.00','0.00','0.00','9795.00','','');
