IF(OBJECT_ID('MEMBERSHIP_INFORMATION_EBA') IS NOT NULL) BEGIN DROP TABLE MEMBERSHIP_INFORMATION_EBA END
GO
CREATE TABLE MEMBERSHIP_INFORMATION_EBA (BMEMBERSHIP INT, RCI_POINTS VARCHAR(50), RCI_WEEKS VARCHAR(50), EFFECTIVE_DATE DATETIME, EXPIRATION_DATE DATETIME, LANGUAGE VARCHAR(25), REFERENCE_NUMBER VARCHAR(50), DV VARCHAR(10), REGISTERED VARCHAR(50), STATUS VARCHAR(50))
GO
INSERT INTO MEMBERSHIP_INFORMATION_EBA VALUES ('322085','','0001-12345','Jul 28 2004 12:00AM','Dec 31 2028 12:00AM','English','0160011837016','7','Active','Active');
INSERT INTO MEMBERSHIP_INFORMATION_EBA VALUES ('322086','','0001-12345','Oct 30 2011 12:00AM','Dec 31 2040 12:00AM','English','0160001184016','4','Active','Active');
INSERT INTO MEMBERSHIP_INFORMATION_EBA VALUES ('322087','','0001-12345','Jul 26 2004 12:00AM','Dec 31 2037 12:00AM','English','0160011842016','2','Active','Active');
