IF(OBJECT_ID('TELEPHONE_EBA') IS NOT NULL) BEGIN DROP TABLE TELEPHONE_EBA END
GO
CREATE TABLE TELEPHONE_EBA (CONTRACT VARCHAR(50), TELEPHONE VARCHAR(150), TYPE VARCHAR(100), IS_PRIMARY BIT)
GO
INSERT INTO TELEPHONE_EBA VALUES ('A-00001','209 123 1234','BUSINESS','0');
INSERT INTO TELEPHONE_EBA VALUES ('A-00002','209 123 1234','HOME FAX','0');
INSERT INTO TELEPHONE_EBA VALUES ('A-00003','209 123 1234','HOME','0');
